HTTP_PASSWORD=mysupersecretpassword
PORTAL_USERNAME=donaldDuck
PORTAL_PASSWORD=Hunter2
VACCINATION_CENTERS=KAMENZ,ZWICKAU
EMAIL_ENABLED=true
EMAIL_SMTP_HOST=smtp.mymailprovider.io
EMAIL_ENABLE_STARTTLS=true
EMAIL_SMTP_PORT=587
EMAIL_USERNAME=donald.duck@example.org
EMAIL_PASSWORD=aaa123
EMAIL_RECIPIENTS=dasy.duck@example.org
EMAIL_ENABLE_SMTP_AUTH=true